<div class="container">
  <div class="row">
    <div class="col">
      <div>
      </div>
    </div>
    <div class="col-8 mt-3">
      <form name="tagForm">

      <div class="input-group">
        <input type="text" class="form-control" placeholder="Поиск по тэгам" aria-label="Recipient's username with two button addons" name="tagName">
        <button class="btn btn-outline-secondary" type="button">Белый список</button>
        <button class="btn btn-dark" type="button">Чёрный список</button>
      </div>  
      </form>
    </div>
    <div class="col">
    </div>
  </div>
</div>


<div class="row mt-3">
    <div class="col">
      
      <div class="d-flex flex-wrap justify-content-end bd-highlight mb-3">
        
        <div class="ps-2 pe-2 mt-1 ms-1 d-flex align-items-center bd-highlight rounded-pill bg-secondary text-white bg-opacity-50">Спорт<button type="button" class="ms-2 btn-close" aria-label="Close"></button></div>
        <div class="ps-2 pe-2 mt-1 ms-1 d-flex align-items-center bd-highlight rounded-pill bg-secondary text-white bg-opacity-50">Новости технологий<button type="button" class="ms-2 btn-close" aria-label="Close"></button></div>
        <div class="ps-2 pe-2 mt-1 ms-1 d-flex align-items-center bd-highlight rounded-pill bg-secondary text-white bg-opacity-50">Космос<button type="button" class="ms-2 btn-close" aria-label="Close"></button></div>
        <div class="ps-2 pe-2 mt-1 ms-1 d-flex align-items-center bd-highlight rounded-pill bg-secondary text-white bg-opacity-50">Общество<button type="button" class="ms-2 btn-close" aria-label="Close"></button></div>
        <div class="ps-2 pe-2 mt-1 ms-1 d-flex align-items-center bd-highlight rounded-pill bg-secondary text-white bg-opacity-50">Наука<button type="button" class="ms-2 btn-close" aria-label="Close"></button></div>
        <div class="ps-2 pe-2 mt-1 ms-1 d-flex align-items-center bd-highlight rounded-pill bg-secondary text-white bg-opacity-50">Культура<button type="button" class="ms-2 btn-close" aria-label="Close"></button></div>

      </div>

    </div>
    <div class="col">
      
      <div class="d-flex flex-wrap bd-highlight mb-3">

        <div class="ps-2 pe-2 mt-1 me-1 d-flex align-items-center bd-highlight rounded-pill bg-secondary text-white bg-opacity-90 bg-dark text-white">Происшествия<button type="button" class="btn-close btn-close-white" aria-label="Close"></button></div>
        <div class="ps-2 pe-2 mt-1 me-1 d-flex align-items-center bd-highlight rounded-pill bg-secondary text-white bg-opacity-90 bg-dark text-white">Война<button type="button" class="btn-close btn-close-white" aria-label="Close"></button></div>
        <div class="ps-2 pe-2 mt-1 me-1 d-flex align-items-center bd-highlight rounded-pill bg-secondary text-white bg-opacity-90 bg-dark text-white">Санкции<button type="button" class="btn-close btn-close-white" aria-label="Close"></button></div>
        <div class="ps-2 pe-2 mt-1 me-1 d-flex align-items-center bd-highlight rounded-pill bg-secondary text-white bg-opacity-90 bg-dark text-white">Политика<button type="button" class="btn-close btn-close-white" aria-label="Close"></button></div>
        <div class="ps-2 pe-2 mt-1 me-1 d-flex align-items-center bd-highlight rounded-pill bg-secondary text-white bg-opacity-90 bg-dark text-white">Религия<button type="button" class="btn-close btn-close-white" aria-label="Close"></button></div>

      </div>

    </div>
    
</div>


{{#each whiteList}}
  <div>{{'tag.name'}}</div>
{{/each}}
