<div class="container">
  <div class="row">
    <div class="col">
      <div>
      </div>
    </div>
    <div class="col-8 mt-3">
      <form name="tagForm">

      <div class="input-group">
        <input type="text" class="form-control" placeholder="Поиск по тэгам" aria-label="Recipient's username with two button addons" name="tagName">
        <button class="btn btn-outline-secondary" type="button">Белый список</button>
        <button class="btn btn-dark" type="button">Чёрный список</button>
      </div>  
      </form>
    </div>
    <div class="col">
    </div>
  </div>
</div>


<div class="row mt-3" id="allTags">
    <div class="col">
      
      <div class="d-flex flex-wrap justify-content-end bd-highlight mb-3" id="good">
        {{#each whiteList}}
           <div class="ps-2 pe-2 mt-1 ms-1 d-flex align-items-center bd-highlight rounded-pill bg-secondary text-white bg-opacity-50" id="{{name}}">{{name}}<button type="button" class="ms-2 btn-close" id="delete" aria-label="Close"></button></div>
        {{/each}}

      </div>

    </div>
    <div class="col">
      
      <div class="d-flex flex-wrap bd-highlight mb-3" id="bad">

        {{#each blackList}}
            <div class="ps-2 pe-2 mt-1 me-1 d-flex align-items-center bd-highlight rounded-pill bg-secondary text-white bg-opacity-90 bg-dark text-white" id="{{name}}">{{name}}<button type="button" class="ms-2 btn-close btn-close-white" id="delete" aria-label="Close"></button></div>
        {{/each}}

      </div>

    </div>
    
</div>



