<div class="container">
  <div class="row">
    <div class="col">
      <div>
      </div>
    </div>
    <div class="col-8 mt-3">
      <form name="tagForm">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Поиск по тэгам"
            aria-label="Recipient's username with two button addons" name="tagName">
          <button class="btn btn-outline-secondary" type="button">Белый список</button>
          <button class="btn btn-dark" type="button">Чёрный список</button>
        </div>
      </form>
    </div>
    <div class="col">
    </div>
  </div>
</div>


<span></span>

<button type="button" class="btn-close" aria-label="Close"></button>